.player-stats-widget {
    background: url(../images/bg.png) no-repeat 120% 3rem;
    animation: panBg 0.75s $quick-bezier forwards;

    menu {
        margin: 1rem auto;
        padding:0 1rem;
        width: 100%;
    }

    .player-image {
        line-height: 1;
        vertical-align: bottom;
        margin-left: 0.4rem;
        transform: translateX(-10%);
        animation: panRight 0.5s $quick-bezier forwards;
    }

    header,
    dl {
        padding: 1rem;
        background: $pink;
    }

    header {
        color: $white;
        padding-bottom: 0;
        position: relative;

        h1 {
            margin: 0;
        }

        p {
            margin: 0;
            padding-bottom: 1em;
        }
    }

    dl {
        padding-top: 0;
        margin: 0;

        > div {
            background: $light-grey;
            padding: 0.625rem;
            color: $purple;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            z-index: 2;

            &:after {
                content: '';
                box-shadow: 0px 0px 0.5rem 0px rgba($purple, 0.6);
                position: absolute;
                z-index: -1;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;

                @supports(mix-blend-mode:multiply) {
                    mix-blend-mode: multiply;
                }
            }

            + div {
                margin-top: 0.125rem;
            }
        }
    }

    dt,
    dd {
        margin: 0;
    }

    dd {
        font-weight: bold;
        flex: 1 0 auto;
        text-align: right;
    }
}
