$scaleFactor: 0.82;

.team-logo {
    width: 5.125rem;
    height: 5.125rem;
    display: block;
    position: absolute;
    top: -2rem;
    right: 1rem;
    border-radius: 50%;
    background: $white;

    &:after {
        content: '';
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        width: 100%;
        height: 100%;
        background: $white url(../images/badges_sprite.png) 0 0;
        background-size: 1200px * $scaleFactor;
        opacity: 0;
        border-radius: 50%;
        animation: fadeIn 0.5s 0.25s $quick-bezier forwards;
    }

    &[data-team="spurs"]:after {
        background-position: (-500px * $scaleFactor) (-1000px * $scaleFactor);
    }

    &[data-team="man-city"]:after {
        background-position: (-800px * $scaleFactor) (-700px * $scaleFactor);
    }

    &[data-team="man-utd"]:after {
        background-position: (-600px * $scaleFactor) (-800px * $scaleFactor);
    }

    &[data-team="arsenal"]:after {
        background-position: (-100px * $scaleFactor) (-100px * $scaleFactor);
    }

    &[data-team="leicester"]:after {
        background-position: 0 0;
    }
}
