.styled-select {
    background: $light-grey;
    height: 2.5rem;
    overflow: hidden;
    width: 100%;
    position: relative;
    z-index: 2;

    &:before,
    &:after {
        content: '';
        z-index: 1;
        width: 2.5rem;
        height: 2.5rem;
        right:0;
        top:0;
        background: $light-grey;
        position: absolute;
        pointer-events: none;
    }

    &:after {
        background: $light-grey url(../images/down-icn.png) no-repeat center center;
    }

    &:hover {
        cursor: pointer;
    }

    select {
        background: transparent;
        border: 0;
        font-size: 1rem;
        height: 2.5rem;
        padding: 0.25rem 0.5rem;
        width: 100%;
        outline: none;
        appearance: none;

        &:hover {
            cursor: pointer;
        }
    }
}
