$quick-bezier: cubic-bezier(0, 0.5, 0.6, 1);

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes panBg {
    0% {
        background-position-x: 120%;
    }

    100% {
        background-position-x: 100%;
    }
}

@keyframes panRight {
    0% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0%);
    }
}
