$stack: Arial, Sans-serif;

body {
    font: 1rem/1.4 $stack;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 1.375rem;
}
